


<div class="app-shoppingListWrapper">
    <div class="app-addrow">
        <form ng-submit="ctrl.quickAddItem()" class="app-itemform">
            <input type="text" ng-model="ctrl.newItemName" />
            <button hm-tap="ctrl.addItem()">+</button>
        </form>
    </div>
    <div class="app-list-container">
        <div class="app-list-wrapper">
            <list-item ng-repeat="item in ctrl.items"
                       item="item"
                       on-delete="ctrl.removeItem(item)"
                       on-update="ctrl.updateItem(item)">
            </list-item>
        </div>

        
    </div>
</div>
