/* Empty. Add your own CSS if you like */
body {

}

html, body {
    height: 100%;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

ng-view {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #888;
}

.swipe {
    padding: 10px 10px;
    background-color: #efefef;
    border: solid 1px;
    color: black;
    font-size: 1.5rem;
    display: flex;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.app-header {
    background: #66a0aa;
    color: #fff;
    font-size: 4rem;
    text-align: center;
    padding: 20px 10px;
    flex: 0 0 auto;
    display: flex;
    text-shadow: 3px 1px #000;
}

.app-addrow {
    padding: 5px;
    display: flex;
    flex: 0 0;
}

.app-itemform {
    display: flex;
    flex: 1;

}
    .app-addrow input {
        flex: 1;
        font-size: 1.5rem;
        margin: 0;
        border: solid 2px #888;
        border-right: solid 1px #888;
    }

    .app-addrow button {
        margin: 0;
        flex: 0 1 100px;
    }

.app-list-container {
    overflow-y: scroll;
    flex: 1;
    display:flex;
    flex-direction: column;
    overflow: auto;
}

.app-list-wrapper {
    background: #ff497a;
}

.app-shoppingListWrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}


.btn-circle.btn-lg {
 width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 20px;
}

.item-name-wrapper.ng-binding {
    flex: 2 0 50%;
    padding-top: 10px;
}

.item-quantity-add {
    flex: 0 1 10%;
    text-align: right;
}

.item-quantity {
    flex: 0 1 30%;
    text-align: center;
    padding-top: 10px;
}

.item-quantity-sub {
    flex: 0 1 10%;
    text-align: left;
}

button.btn.button-icon.ion-plus-circled {
    color: #33cd5f;
    font-size: 30px;
}

button.btn.button-icon.ion-minus-circled {
    color: #ef473a;
    font-size: 30px;
}
